rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

  	function signedIn() {
    	return request.auth != null;
    }

    match /notes/{note} {
      function owner() {
      	return resource.data.recorded.by == request.auth.uid;
      }

      allow read: if signedIn() && owner();
      allow create: if signedIn();
    }

    match /intentions/{intent} {
      function owner() {
        return resource.data.set.by == request.auth.uid;
      }

      allow read: if signedIn() && owner();
      allow create: if signedIn();
    }
  }
}
