@import 'variables'

// Clean
body, html, *
	margin: 0
	padding: 0

*
	transition: opacity 1s ease-in-out

button
	font: inherit
	color: inherit
	border: none
	outline: none
	box-sizing: content-box
	padding: 0
	background: inherit

input
	background: none
	outline: none

	&:focus
		outline: none

a
	color: inherit
	text-decoration: inherit


// Layout
#__next // app
	padding: 3rem 0 0 0
	min-height: 100vh

	+tablet
		padding: 8vh 6vw
		min-height: 84vh

	display: grid
	grid-template-rows: [header] 1fr [main] auto [footer] 1fr
	gap: 1rem

	font-family: 'Karla', sans-serif
	font-size: 16px
	font-weight: 400
	color: $light
	background-color: $dark

	header
		align-self: end
		font-size: 1.4em
		margin: 0 3rem

	footer
		justify-self: center
		align-self: end
		color: $faded-text
		font-size: .8em

// General
.keyword,
.keypress .key
	font-weight: 700

// Forms
.question
	display: grid
	grid-template-columns: 2rem auto 2rem
	grid-template-rows: min-content auto min-content
	gap: 1rem

	&:before,
	label
		font-size: 1.4em
		grid-column: 2
		padding-top: 1em

	&:before
		content: '•'
		grid-column: 1
		justify-self: right
		color: #fd7861

	.info
		// font-size: .8em
		color: $faded-text

	.actions
		grid-column: 2
		grid-row: 3

		display: flex
		flex-direction: column
		gap: .8rem

		+tablet
			flex-direction: row
			gap: 1.4rem

	input
		width: 100%
		grid-column: 2

		font-family: 'Karla', sans-serif
		font-weight: 300
		letter-spacing: -1px
		color: #fd7861
		font-size: 1.4em
		+tablet
			font-size: 2em

		transition: border .1s ease-in-out
		border-width: 0 0 1px 0
		border-image: $orange 1 stretch
		&:focus
			border-width: 0 0 3px 0

		&::placeholder
			transition: color .2s ease-in-out
			color: $faded

		&:focus::placeholder
			color: $faded-text

.question:not(:focus-within)
	opacity: .6

button, .option button, .option a
	cursor: pointer
	padding: .6em 1.2em
	border-radius: 8px
	color: $light
	font-family: roboto, 'sans-serif'
	font-weight: 800
	background: $orange
	text-decoration: none
	height: min-content

	transition: opacity .2s ease-in-out
	&:disabled
		opacity: .4

.submit,
.skip,
.option
	grid-column: 2
	display: flex
	align-items: baseline

	.keypress
		color: $faded-text
		margin: .6em

		.key
			color: $light

		transition: opacity .2s ease-in-out
		&.disabled
			opacity: .4

.skip
	button
		background: $pink

.required.question
	label:after
		position: relative
		left: 4px
		content: '*'
		color: #fd7861

.multiple.choice.question
	grid-template-rows: min-content auto
	opacity: 1

	.options
		grid-row: 2
		grid-column: 2

		display: flex
		flex-direction: column
		gap: 1rem

		+tablet
			flex-direction: row

		.option:nth-child(1n) button,
		.option:nth-child(1n) a
			background: $yellow

		.option:nth-child(2n) button,
		.option:nth-child(2n) a
			background: $orange

		.option:nth-child(3n) button,
		.option:nth-child(3n) a
			background: $blue


.questions
	display: flex
	flex-direction: column
	gap: 2rem

// Presense
.brand
	font-size: 1.4em
	font-weight: 800
	color: $light

	.sense
		background: $orange
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent

.suspended.brand .sense:after
	content: '...'
	font-weight: 600
	display: inline-block
	animation: ellipsis steps(1,end) 1.4s infinite

// Thank you
.thank.you
	.note
		min-height: 1.2em
		margin-bottom: .6em
		color: $faded-text

.author
	opacity: .6
	display: none
	font-style: italic
	font-weight: 400

	+tablet
		display: inline

	&:before
		content: ' - '
		font-weight: 400
		font-style: normal

.suspended.note
	opacity: 0

.notes
	margin-left: 3rem

	.note
		font-weight: 400

		.context, .feelings
			color: $faded-text

.sign.in,
.signing.in
	h1
		color: $faded-text
		font-size: 1em
		font-weight: 500
